.PlayerColumn {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlayerColumn img {
    width: 60px;
}

.TextContainer {
    color: white;
    font-weight: 500;
    text-align: center;
    min-width: 120px;
}

.TextContainer div {
    margin-top: 2px;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 12px;
}
.PlayerName {
    background-color: rgba(27, 27, 27, 0.801);
}
.Fixture {
    background-color: rgba(228, 228, 228, 0.808);
    color: black;
}

.Number {
    background-color: rgb(255, 83, 83);
    border: 2px solid rgba(255, 0, 0, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 10px;
}


@media screen and (max-width: 700px) {
    .PlayerColumn img {
        width: 50px;
    }
    
    .TextContainer {
        min-width: 90px;
    }
}

@media screen and (max-width: 500px) {
    .TextContainer {
        min-width: 60px;
    }
}

@media screen and (max-width: 350px) {
    .TextContainer div {
        font-size: 10px;
    }
}

.Opaque {
    /* box-shadow: 20px 20px 20px rgb(134, 134, 134); */
    background: radial-gradient(rgba(0, 0, 0, 0.103),rgba(59, 59, 59, 0.288));
    /* opacity: 0.5; */
}