
.Main {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 2px;
}
.Buttons {
    margin: 40px 0 20px 0; 
    text-align: center;
}
.Left {
    width: 70%;
    margin: 10px;
}

.Right {
    width: 30%;
    flex-grow: 1;
    margin: 10px;
}

.GWDetails {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    margin: 20px 0;
}

.LeftBTN, .RightBTN, .Details {
    width: 33%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.LeftBTN, .RightBTN {
    background: rgb(224, 224, 224);
}


@media screen and (max-width: 969px) {
    .Right {
        display: none;
    }
    .Left {
        width: 100%;
        margin: 0;
    }
}