.Layout {
    width: 100vw;
}

.Navbar {
    margin-bottom: 20px;
}

.Main {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 2px;
}
.Buttons {
    margin: 0 auto;
    text-align: center;
}
.Left {
    width: 70%;
    margin: 10px;
}

.Right {
    background-color: rgb(27, 27, 27);
    width: 30%;
    /* display: none; */
    flex-grow: 1;
    margin: 10px;
}