.TransferPane {
    width: 100%;
    padding: 10px 2px;
}

.Container {
    margin-bottom: 20px;
}

.Heading {
    background: #bfe4dc;
    cursor: pointer;
    padding: 5px;
    font-weight: bolder;
}

.PlayerInfo {
    padding: 10px 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ImageContainer {
    width: 15%;
    height: 30px;
    text-align: center;
}

.ImageContainer img {
    height: 100%;
}

.Name {
    width: 50%;
}

.Team {
    width: 15%;
}

.Price {
    width: 15%;
}

.Pagination {
    margin: 0 auto;
}